/*public*/
*{
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei";
}
.container{margin:0 auto; width:1140px; height:100%;z-index:0;}
/*简历首页*/
#abstract{
    width: 100%;
    height: 1000px;
    background-color:  #22c3aa;
    text-align: center;
}
.icon_text{
    position: relative;
}
#Baymax{
    border-radius: 50%;
    border: solid 10px #aee2d9;
}
.icon_text .resumeTitle{
    font-size: 50px;
    color: white;
}

#down_more{
    position: absolute;
    bottom: 16px;
    height: 18px;
    width: 100%;
}
#down_more a{
  display: block;
  background: url("../images/down.png") no-repeat center;
  width: 32px;
  height:18px;
  margin:0 auto;
  cursor: pointer;
}

/*简历导航*/
#resume_nav{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 52px;
    background-color: #42474B;
    z-index:9999;
}

#resume_nav a{
    color: white;
    padding: 0 25px;
    line-height: 52px;
    font-size: 14px;
    text-decoration: none;
}

#resume_nav a:hover{
    color: #999;
}

#resume_nav .nav_mode{
    float: right;
}
#resume_nav #logo{
    display: inline-block;
}

/*个人简介*/
#intro{
    height: auto;
    width: 100%;
    background-color:  #22c3aa;
    padding: 60px 0 100px;
}

#intro-icon{
    height: 300px;
    width: 100%;
    line-height: 300px;
    text-align: center;
}

.link{
    height: 100px;
    width: 100px;
    display: inline-block;
    text-indent: -9999em;
    /*过渡的时间 效果*/
    -webkit-transition: 0.25s linear;
}

.link:hover{
    /*参照*/
    -webkit-transform-origin:bottom center;
    /*形变*/
    -webkit-transform:scale(1.6);
}
#link-github{
    background: url("../images/github.png") no-repeat center;
    margin-left: 76px;
}

#link-linkedin{
    background: url("../images/linkedin.png") no-repeat center;
    margin-left: 76px;
}

#link-blog{
    background: url("../images/blog.png") no-repeat center;
    margin-left: 76px;
}

#link-email{
    background: url("../images/email.png") no-repeat center;
    margin-left: 76px;
}

#intro_text{
    display: inline-block;
    margin:20px 0 0 130px;
    color: white;
}
.pi{
    float: left;
    list-style: none;
}
.pi li{
    height: 30px;
}
.pi li a{
    text-decoration: none;
    display: inline-block;
    color: white;
}
.pi li a:hover{
    border-bottom: solid 2px whitesmoke;
}
.pr{
    float: right;
    margin-left: 120px;
    margin-top: 20px;
}
.pr p{
    margin-bottom: 26px;
}
/*专业技能*/
#skill{
    height: auto;
    width: 100%;
    background-color:  #22c3aa;
    padding-bottom: 160px;
}
#skill .skills .col-md-4 img{
    width: 140px;
    margin-top: 30px;
    -webkit-animation: run 8s linear 0s infinite;
}
/*图片动画*/
@-webkit-keyframes run{
    from{
        -webkit-transform:rotate(0deg);
    }
    to{
        -webkit-transform:rotate(360deg);
    }
}
.skills{
    text-align: center;
    padding-left: 30px;
}
.skill-title{
    text-align: center;
    color: white;
    margin-top: 100px;
}
#skill .skills .col-md-4 h3{
    color: whitesmoke;
}
#skill .skills .col-md-4 .btn-group{

    margin-top: 20px;
}
#skill .skills .col-md-4 ul{
    list-style: circle;
    text-align: left;
    color: whitesmoke;
}
#skill .skills .col-md-4 ul li{
    padding-left: 0;
    margin: 5px 0;
}

/*实习经历*/
#work-EXP{
    background-color:  #22c3aa;
    height: auto;
    width: 100%;
    padding: 160px 0;
}
#work-EXP .container .work-title{
    color: white;
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

#work-EXP .container .jobEXP{
    width: auto;
    height: auto;
    margin: 100px 0 0 60px;
}

#work-EXP .time{
    margin-left: 194px;
    font-size: 29px;
}

#work-EXP .time li{
    display: inline-block;
    margin-top: 5px;
    color: whitesmoke;
}

#work-EXP .timeline{
    height: 27px;
    width: 868px;
    margin-left: 42px;
    background: url("../images/timeline.png") no-repeat center;
}

#work-EXP .thx{
    margin-left: 194px;
    color: whitesmoke;
}
#work-EXP .thx li{
    display: inline-block;
    vertical-align: top;
    width: 310px;
}
#work-EXP .thx li label{
    display: block;
}

#work-EXP .thx-intro .work-place{
    font-size: 26px;
    font-weight: bolder;
}
#work-EXP .thx-intro .work-position{
    font-size: 20px;
}
#work-EXP .thx-intro .work-content{
    margin-top: 10px;
    font-size: 16px;
}
/*项目经验*/
#jobs{
    padding: 50px 0 200px;
    color: whitesmoke;
    width: 100%;
    background-color:  #22c3aa;
}

#jobs .jobs-title{
    width: 300px;
    margin:30px auto;
    text-align: center;
    font-size: 50px;
}

#jobs .prjs{
    text-align: center;
}

#jobs .prjs .row p{
    text-indent: 35px;
    text-align: left;
}
#jobs .prjs .row span{
    color: orange;
}
#jobs .prjs .row ul{
    text-align: left;
    list-style: none;
}
#jobs .prjs .row img{
    -webkit-animation: change 8s linear 0s infinite;
}
@-webkit-keyframes change{
    from{
        -webkit-transform: scale(0.5);
    }
    to{
        -webkit-transform: scale(1.3);
    }
}

    /*项目2图片*/
#prj2{
    width: 120px;
}

/*与我联系*/
#into {
    width:100%;
    /*background: url("../images/bg.png");*/
    /*background-size: cover;*/
    background-color: #22c3aa;
    color:#fff;}
#into h1{
    text-shadow: 1px 2px #22c3aa, 2px 4px #aee2d9;
    font-size: 4.5em;
}
#my{
    color: whitesmoke;
    text-decoration: none;
}
#my:hover{
    cursor: pointer;
}
#into .intro-con {
    /*position:relative;*/
    /*margin:0 auto;*/
    width:100%;
    text-align:center;
    padding-top: 250px;
    }
#into .outlink{
    display: inline-block;
    height: 100px;
    width: 100px;
    text-indent: -9999em;
    -webkit-transition: 0.25s linear;
}
#into .outlink:hover{
    cursor: pointer;
    /*参照*/
    -webkit-transform-origin:center;
    /*形变*/
    -webkit-transform:scale(1.6);
}
#gh{
    background: url("../images/social_round_github.png") no-repeat center;

}

#youdao{
    background: url("../images/youdao.png") no-repeat center;

}